:root {
    --background: #101018;
    --text: #dadada;
    --border: #2d2d36;
    --inputBackground: #1c1c2a;
    --link: #458296;
    --linkHover: #6edbf9;
    --linkVisited: #4d595e;
    --submitHover: #272736;
    --navigation: #1c1c2a;
    --navigationHover: #272736;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: SansSerif, sans-serif;
    font-size: 16px;
    background-color: var(--background);
    color: var(--text);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

fieldset {
    border: 3px solid var(--border);
    border-radius: 3px;
    padding-top: 10px;
}

label {
    display: block;
}

input {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
    font-size: 1.1rem;
    background-color: var(--inputBackground);
    color: var(--text);
    border: none;
    border-radius: 3px;
}

input[type="submit"] {
    display: block;
    width: 40%;
    margin: 10px auto;
}

input[type="submit"]:hover {
    display: block;
    width: 40%;
    margin: 10px auto;
    background-color: var(--submitHover);
}

a {
    display: inline-block;
    padding-top: 5px;
    color: var(--link);
}

a:hover {
    color: var(--linkHover);
}

a:visited {
    color: var(--linkVisited);
}

span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}

.navigation {
    overflow: hidden;
    background-color: var(--navigation);
    text-align: right;
    font-size: 20px;
}

.navigation a {
    color: var(--text);
    background-color: var(--navigation);
    display: block;
    padding: 0.5rem 1rem 0.5rem 0;
    text-decoration: none;
}

.navigation a:hover {
    background-color: var(--navigationHover);
}

#menuIcon {
    display: block;
    overflow: hidden;
    color: var(--text);
    background-color: var(--navigation);
    text-align: right;
    padding-right: 1rem;
    font-size: 20px;
}

#menuIcon:hover {
    background-color: var(--navigationHover);
}

#menuLinks{
    display: none;
}

.listofWords h3 {
    white-space: pre-line;
}

h2 {
    padding-left: 3rem;
}

h3 {
    display: inline-block;
    padding-left: 5rem;
}

.metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#seenWordsLink {
    display: block;
    padding-left: 5rem;
}

.chartIcon {
    margin-left: 1rem;
    vertical-align: middle;
}

span.size-30 {
    font-size: 30px;
    font-variation-settings: 'OPSZ' 30;
}

.charts {
    display: flex;
    flex-direction: column;
}

.charts div {
    margin: auto;
}

button {
    height: 20px;
    width: 200px;
    margin: 5px;
    background-color: var(--link);
    border: none;
    border-radius: 3px;
}

.linkButton, .linkButton:hover, .linkButton:visited {
    color: black;
    text-decoration: none;
    padding-top: 0;
}

button:hover {
    background-color: var(--linkHover);
}

#buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}